.message-container {
  display: block;
  position: relative;
  overflow-x: auto;
  width: 100%;
  font-family: 'KCC-Hanbit';
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 10px;
}

.message-header h2 {
  margin: 0;
}

.message-header .button-group {
  display: flex;
  gap: 10px;
}

.message-header button,
.message-header a {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.message-header button:hover,
.message-header a:hover {
  background-color: #ddd;
}

.message-table {
  width: 100%;
  border-collapse: collapse;
}

.message-table th, .message-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.message-table th {
  background-color: #f2f2f2;
}

.message-table tr:hover {
  background-color: #f5f5f7;
}

.nodata {
  text-align: center;
  height: 400px;
  color: gray;
  font-size: 30px;
  width: 1000px;
  margin: 30px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  color: #333;
  background-color: #f2f2f2;
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.3s;
}

.pagination li a:hover {
  background-color: #ddd;
}

.pagination li a.active {
  background-color: #007bff;
  color: #fff;
}
.tabs {
  display: flex;
  margin: 20px 0;
  border-bottom: 2px solid #ddd;
}

.tabs button {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s, border-bottom 0.3s;
}

.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  background-color: #fff;
  border-bottom: 2px solid #ffea00;
  font-weight: bold;
}

@media (min-width: 1150px) {
  .message-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}