.notification-container {
    font-family: 'KCC-Hanbit';
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* 추가 */
}

.notification-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.notification-container2 {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.notification-container img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.notification-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.notification-container button {
    padding: 10px;
    border-radius: 10px;
    font-size: 14px; /* 추가 */
}
.notification-container1 button {
    margin-left: auto;
    margin-right: 30px;
    background-color: #ddd;
    padding-top: 10px;
}
.notification-container1 {
    padding-top: 10px;
    margin-left: 30px;
}
.notification-container2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notification-container2 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.notification-container2 li:hover {
    background-color: #e0e0e0;
}

.notification-detail {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: left;
    margin-left: 50px;
}

.notification-container2 li .notification-date {
    font-size: 15px;
    text-align: right;
    flex-shrink: 0;
    margin-right: 50px;
}

.notification-nodata {
    font-size: 25px;
    color: gray;
    text-align: center;
    margin-top: 20px;
}

.notification-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffcc00;
    color: #333;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

@media (min-width: 1100px) {
    .notification-container {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 815px) { 
    .notification-container2 li {
        display: flex;
        align-items: flex-start;
        font-size: 14px; 
        align-items: center;
    }
}
@media (max-width: 790px) { 
    .notification-container2 li {
        display: flex;
        align-items: flex-start;
        font-size: 10px; 
        align-items: center;
    }
}
@media (max-width: 600px) {
    .notification-container {
        padding: 10px;
    }
    .notification-container1 {
        display: flex;
    }
    .notification-container1 img {
        width: 40px;
        height: 40px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .notification-container h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .notification-container button {
        font-size: 10px;
    }
    .notification-container2 img {
        width: 30px;
        height: 30px;
    }
    .notification-container2 li {
        display: flex;
        align-items: flex-start;
        font-size: 12px; 
        align-items: center;
    }
    .notification-detail {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .notification-container2 li .notification-date {
        margin-right: 0;
        text-align: left;
        font-size: 12px;
    }
    .notification-nodata {
        font-size: 18px;
    }
    .pagination {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .pagination button {
        padding: 8px;
        font-size: 12px;
    }
    .pagination span {
        font-size: 14px;
    }
    
}
