.filter-bar-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.filter-item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-item button {
  flex: 0 0 calc(15% - 10px); /* 각 버튼이 동일한 너비를 가지도록 함 */
  margin-right: 3px; /* 각 버튼 사이의 간격 */
  margin-bottom: 3px; /* 버튼 행 간의 간격 */
}

.filter-item button:last-child {
  margin-right: 0; /* 마지막 버튼은 오른쪽 마진 제거 */
}
.filter-item h3 {
  margin-bottom: 2px;
}

.filter-line {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.filter-bar-container .ant-btn-primary {
  background-color: #29adb2;
  border-color: #29adb2;
}

.filter-bar-container .ant-btn-primary:hover {
  background-color: #209094 !important;
  border-color: #209094 !important;
}

.filter-item:first-child {
  margin-top: 5px;
  margin-bottom: 10px;
}
