.Matefilter-bar-container {
  display: block;
  flex-wrap: wrap;
  max-width: 100%; /* 최대 너비를 100%로 설정 */
  gap: 10px;
  overflow: hidden; /* 넘치는 콘텐츠를 숨기도록 설정 */
}

.Matefilter-item {
  display: flex;
  flex-wrap: wrap;
}

.Matefilter-items {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.Matefilter-items button {
  flex: 1 1 20%; /* 각 버튼의 너비를 20%로 설정 */
  max-width: 20%; /* 각 버튼의 최대 너비를 20%로 설정 */
  margin-right: 3px; /* 각 버튼 사이의 간격 */
  margin-bottom: 3px; /* 버튼 행 간의 간격 */
  padding: 3px 20px; /* 버튼 내부의 여백 설정 */
  font-size: 16px; /* 버튼 텍스트 크기 설정 */
}

.Matefilter-line {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Matefilter-bar-container .ant-btn-primary {
  background-color: rgb(93, 155, 0);
}

.filter-bar-container .ant-btn-primary:hover {
  background-color: rgb(93, 155, 0);
  background-color: rgb(93, 155, 0);
}

.filter-item:first-child {
  margin-top: 5px;
  margin-bottom: 10px;
}
