.comment-container {
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  width: 90%;
  border-radius: 15px;
  background-color: white;
}
.comment-container0 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  width: 90%;
}

.comment-container1 {
  align-items: center;
}

.comment-container2 {
  display: flex;
}

.comment-container3 {
  flex-direction: column; /* 대댓글을 수직으로 나열 */
}

.comment-container4 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 10px;
  margin-top: 10px;
  justify-content: space-between;
  width: 90%;
  padding: 5px;
  align-items: center;  /* 가운데정렬 */
  background-color: white;
}

.comment-send {
  width: 100px;
  padding: 5px;
  font-weight: bold;
  background-color: #29ADB2;
  border-radius: 10px;
  text-align: center;
}
.comment-photo {
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-title {
  flex: 1;
}

.comment-name {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}

.comment-more {
  font-size: 25px;
  color: gray;
  margin-left: auto; /* 오른쪽 정렬 */
  cursor: pointer;
  position: relative; /* Make parent relative */
}

.comment-options {
  display: flex;
  flex-direction: column; /* Ensure vertical alignment */
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-size: 13px;
  position: absolute; /* Make dropdown absolute */
  right: 0; /* Align it to the right */
  width: 50px;
}

.comment-options button {
  background-color: white;
  border: none;
  cursor: pointer;
  color: #888;
  font-size: 15px;
  padding: 5px 0;
}

.comment-options button:hover {
  color: #333;
}

.comment-post {
  flex: 1;
  display: flex;
  font-size: 15px;
}

.comment-recomment,
.comment-like {
  margin-left: auto;
  margin-right: 10px;
  font-size: 0.8em;
}

.commentTocomment-container {
  display: flex;
  flex-direction: column; /* 대댓글을 수직으로 나열 */
  width: 100%;
}
.commentTocomment-container2 {
  display: flex;
  padding: 5px;
  width: 100%;
}
.comment-like .like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.comment-like {
  display: flex;
  font-size: 20px;
}
.comment-write {
  border: none;
  border-radius: 5px;
  font-size: 18px;
  width: 80%;
}



.comment-like img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

input[type="comment-text"] {
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 20px;
  width: 100%;
}

.comment-recomment {
  margin-left: auto;
  margin-right: 10px;
}


.commentTocomment-container0 {
  display: flex;
  width: 100%; 
  flex-direction: column; /* 대댓글을 수직으로 나열 */
  background-color: #f8f6f6;
  border-radius: 15px;
  margin-bottom: 10px;
}


.commentTocomment-container1 {
  display: flex;
  align-items: center;
  width: 100%;
}

.commentTocomment-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;  /* 가운데정렬 */
  justify-content: center; /* 가운데정렬 */
  width: 100%;
}
.commentTocomment-detail {
  margin-left: 30px;
}
.comment-like {
  margin-left: auto;
  margin-right: 30px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.comment-like h6 {
  margin-left: 5px;
}

.comment-like .like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.comment-like img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.commentTocomment-like {
  display: flex;
}

.commentTocomment-delete {
  margin-left: auto;
  margin-right: 22px;
}

@media (max-width: 770px) { 
  .comment-post {
    font-size: 12px;
  }
  .comment-name {
    font-size: 12px;
  }
  .comment-photo {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 320px) {
  .comment-container4 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: space-between;
    height: 50px;
    width: 90%;
    padding: 5px;
    align-items: center;  /* 가운데정렬 */
    background-color: white;
  }

  input[type="comment-text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 3px;
    width: 100%;
  }

  .comment-send {
    font-size: 15px;
    font-weight: bold;
    width: 80px;
    height: 50px;
    padding: 0px;
    background-color: #29ADB2;
    border-radius: 10px;
    text-align: center;
  }

  .comment-photo {
    width:30px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .comment-recomment,
.comment-like {
  margin-left: auto;
  margin-right: 10px;
  font-size: 12px;
}

.comment-name {
  display: flex;
  font-weight: bold;
  font-size: 12px;
  margin-right: 10px;
}

.comment-more {
  margin-top: 5px;
  font-size: 20px;
  color: gray;
  margin-left: auto; /* 오른쪽 정렬 */
  cursor: pointer;
  position: relative; /* Make parent relative */
}

.comment-post {
  flex: 1;
  display: flex;
  font-size: 12px;
}
.comment-like img {
  width: 15px;
  height: 15px;
  margin-right: 2px;
}
.comment-container2 {
  display: flex;
  height: 40px;
}
}