.comment-container0 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  padding: 10px;
}

.comment-container1 {
  display: flex;
  align-items: center;
}
.comment-container2 {
  display: flex;
  align-items: center;
}

.comment-container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.comment-container4 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.comment-photo {
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-title {
  flex: 1;
}

.comment-name {
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}

.comment-more {
  font-size: 25px;
  color: gray;
  margin-left: auto; /* 오른쪽 정렬 */
  cursor: pointer;
}

.comment-options {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  font-size: 13px;
}

.comment-options button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  color: #888;
}

.comment-options button:hover {
  color: #333;
}

.comment-post {
  flex: 1;
}

.comment-recomment,
.comment-like {
  margin-left: auto;
  margin-right: 10px;
  font-size: 0.8em;
}

.commentTocomment-container {
  margin-top: 10px;
}

.comment-like .like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.comment-like {
  display: flex;
  font-size: 20px;
}

.comment-like img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}


input[type="comment-text"] {
  flex: 2;
  padding: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}

.comment-recomment {
  margin-left: auto;
  margin-left: auto;
  margin-right: 10px;
}


.commentTocomment-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  padding: 10px;
}

.commentTocomment-container1 {
  display: flex;
  align-items: center;
}
.commentTocomment-container2 {
  display: flex;
  align-items: center;
}