.cookingitem-container {
    border: groove 1px #ddd;
    text-align: center;
    margin: 10px;
    flex: 0 0 auto;
    width: 220px;
    height: 300px;
    text-align: center;
    justify-content: center;
    
}

  
.cookingitem-photo {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  

.cookingitem-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 7px;
}

.cookingitem-user {
    font-size: 15px;
    font-weight: bold;
}

.cookingitem-detail {
    font-size: 14px;
    font-weight: normal;
}

.cookingitem-nane p,
.cookingitem-user p,
.cookingitem-detail p {
    margin: 5px;
}

.main-dish-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
}