.cookingitem-container {
    border: 1px groove black;
    width: calc((100% - 20px));
    padding: 5px;
    margin: 5px;
    flex: 0 0 auto;
} 

.best-dishes .cookingitem-container {
    width: 250px;
  }
  
  
.dish-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

.cookingitem-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 7px;
}

.cookingitem-author {
    font-size: 15px;
    font-weight: bold;
}

.cookingitem-content {
    font-size: 14px;
    font-weight: normal;
}

.cookingitem-title p,
.cookingitem-author p,
.cookingitem-content p {
    margin: 5px;
}