.cookingitem-container {
    border: 1px groove black;
    width: calc((100% - 20px));
    padding: 5px;
    margin: 5px;
    flex: 0 0 auto;
} 

.best-dishes .cookingitem-container {
    width: 250px;
  }
  