.marketitem-container {
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    flex: 0 0 auto;  /* 슬라이드 적용 시 빼먹지 않기! */
}

.marketitem-photo {
    height: 220px;
    text-align: center;
    border: 1px groove #f6f6f6;
    object-fit: cover; 
}

.marketitem-photo img {
    object-fit: cover; 
}

.marketitem-title,
.marketitem-price,
.marketitem-StateAndTime {
    border: 1px groove #ddd;
}

.marketitem-title {
    font-size: 20px;
}

.marketitem-likeview {
    display: flex;
    justify-content: center; 
    border: 1px groove #ddd;
}

.marketitem-like {
    display: flex;
    align-items: center;
}

.marketitem-view {
    width: 50%;
}

.marketitem-StateAndTime {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.marketitem-StateAndTime > p {
    text-align: center;
    width: 50%;
    margin: 0; 
    padding: 10px;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
    .marketitem-container {
        width: 180px; /* 모바일 화면에서 너비를 200px로 변경 */
        height: auto;
        padding: 3px; /* 패딩 줄이기 */
        margin: 3px; /* 마진 줄이기 */
        font-size: 10px; /* 폰트 크기 줄이기 */
    }

    .marketitem-photo {
        height: 180px; /* 높이 줄이기 */
    }

    .marketitem-title {
        font-size: 12px; /* 폰트 크기 줄이기 */
    }

    .marketitem-price {
        font-size: 12px; /* 폰트 크기 줄이기 */
    }

    .marketitem-StateAndTime {
        font-size: 10px; /* 폰트 크기 줄이기 */
    }

    .marketitem-StateAndTime > p {
        padding: 8px; /* 패딩 줄이기 */
    }

    .marketitem-no-image {
        font-size: 10px; /* 폰트 크기 줄이기 */
        line-height: 180px; /* 높이 줄이기와 일치시키기 */
    }
}
