.marketitem-container {
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    flex: 0 0 auto;  /* 슬라이드 적용 시 빼먹지 않기! */
}

.marketitem-photo {
    height: 220px;
    text-align: center;
    border: 1px groove #ddd;
    object-fit: cover; 
}

.marketitem-title,
.marketitem-seller,
.marketitem-category,
.marketitem-price,
.marketitem-StateAndTime {
    border: 1px groove #ddd;
}

.marketitem-likeview {
    display: flex;
    justify-content: center; 
    border: 1px groove #ddd;
}

.marketitem-like {
    display: flex;
    align-items: center;
}

.marketitem-view {
    width: 50%;
}
.marketitem-StateAndTime {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.marketitem-StateAndTime > p {
    text-align: center;
    width: 50%;
    margin: 0; 
    padding: 10px;
}


/* 모바일 반응형 */
@media (max-width: 768px) {
    .marketitem-container {
        width: 200px;
        height: auto;
        text-align: center;
        flex: 0 0 auto;  /* 슬라이드 적용 시 빼먹지 않기! */
    }
}
  
  