.mi-container {
    border: groove 1px black;
    text-align: center;
    margin: 10px;
    padding: 10px;
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
}
.mi-photo {

}
.mi-name {

}
.mi-button {

}