  .roomitem-container-popular {
    border: 1px groove black;
    width: calc((100% - 20px));
    margin: 5px;
    padding: 10px;
    flex: 0 0 auto;
  }
  
  .roomitem-container-items {
    width: 180px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
.roomitem-location {
  font-size: 18px;
  font-weight: bold;
}
.roomitem-price {
  font-size: 16px;
  font-weight: bold;
}