.roomitem-container-popular {
  border: 1px groove #ddd;
  width: 364px;
  margin: 5px;
  padding: 10px;
  flex: 0 0 auto;
  text-decoration: none;
  text-align: center;
}

.roomitem-container-items {
  width: 180px; /* Adjust the width as needed */
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
}
.roomitem-price {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.roomitem-location {
  font-size: 18px;
  font-weight: bold;
  color: gray; /* Change color as needed */
  margin-bottom: 5px; /* Add margin bottom for spacing */
}

.roomitem-area {
  font-size: 16px;
  font-weight: bold;
  color: gray; /* Change color as needed */
}