.oneroom-container1 {
  width: 95%;
}
.oneroom-container2 {
  display: flex;
  width: 95%;
  height: 800px;
}

.map-section1 {
  height: 85%;
  flex: 2;
  padding: 20px;
}
.map-section2 {
  height: 85%;
  flex: 2;
  padding: 20px;
}
.popular-rooms {
  margin-bottom: 20px;
}

.popular-rooms h2 {
  margin-bottom: 20px;
}

.popular-room-list {
  display: flex;
}

.popular-room-list > * {
  flex: 1;
  margin-right: 10px;
}

.popular-room-list > *:last-child {
  margin-right: 0;
}

.oneroom-items-container {
  overflow-y: auto;
  width: 220px;
  max-height: 700px;
  margin-top: 10px;
}

.oneroom-dish-item {
  width: 180px;
  max-height: calc(100vh - 550px);
  padding-left: 10px;
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  margin: 10px; 
}

@media (min-width: 1150px) {
  /* 가로 1150px 이상일 때 페이지 전체의 양 옆 여백을 늘리는 스타일 추가 */
  .oneroom-container {
    width: 100%; /* 요소의 너비를 100%로 설정 */
    max-width: 1200px; /* 최대 너비를 1200px로 제한 */
    margin-left: auto; /* 왼쪽 여백을 자동으로 추가하여 가운데 정렬 */
    margin-right: auto; /* 오른쪽 여백을 자동으로 추가하여 가운데 정렬 */
  }
}

@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1150px) {
  /* 가로 1150px 이상일 때 페이지 전체의 양 옆 여백을 늘리는 스타일 추가 */
  .oneroom-container1, .oneroom-container2 {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'KCC-Hanbit';
  }
}