.oneroom-container1 {
  width: 95%;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  position: relative;
  min-height: 1300px;
}

.oneroom-container2 {
  display: flex;
  width: 100%;
  height: 800px;
  position: relative;
}

.oneroom-items-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  z-index: 2; /* Higher z-index to ensure it is above the map */
  top: 0;
  right: 0;
  max-height: 700px;
  border: 1px solid gray;
  margin-right: 10px;
  overflow-y: auto;
  width: 93.4%;
  min-height: 163px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 10px;
  margin-right: 10px;
}

.oneroom-items-container p {
  color: gray;
}

.oneroom-items-container p span {
  color: #ddd;
  font-size: 50px;
  margin-bottom: 10px;
}
.oneroom-dishes-grid {
  justify-content: center;
}

.map-section1 {
  height: 85%;
  flex: 2;
}

.map-section2 {
  height: 300px;
  order: 2;
}


.popular-rooms {
  margin-bottom: 20px;
}
.popular-rooms-title {
  display: flex;
}
.popular-rooms img {
  width: 40px;
  height: 40px;
  margin-top: 15px;
}
.popular-rooms h2 {
  margin-bottom: 20px;
  margin-left: 10px;
}
.oneroom-location {
  display: flex;
}
.oneroom-location img {
  width: 45px;
  height: 45px;
  margin-top: 10px;
  margin-right: 10px;
}
.popular-room-list {
  display: flex;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(93, 155, 0);
}

.popular-room-list > * {
  flex: 1;
  margin-right: 10px;
}

.popular-room-list > *:last-child {
  margin-right: 0;
}

.oneroom-items-container .oneroom-dish-item {
  margin: 10px; /* Add some margin for spacing */
}

.map-section2 {
  height: 400px;
  order: 2;
}

.oneroom-dish-item {
  display: flex;
  flex-direction: column; /* 세로 정렬을 위한 설정 */
  align-items: center; /* 가운데 정렬을 위한 설정 */
  text-align: center; /* 텍스트 정렬을 위한 설정 */
  width: 180px;
  max-height: calc(100vh - 550px);
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 163px;
}
/* 지도 */
.oneroom-map {
  width: 900px;
  height: 690px;
  margin: 0 auto; /* 가운데 정렬 */
}

@media (min-width: 1150px) {
  .oneroom-container1, .oneroom-container2 {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1150px) {
  .oneroom-map {
    max-width: 990px;
    height: 800px;
    margin: 0 auto;
  }
  .oneroom-items-container {
    width: 90%;
  }
}

@media (max-width: 1150px) {
  .oneroom-container2 {
    flex-direction: column;
    height: auto;
  }
    .oneroom-dishes-grid {
    display: flex;
    width: 100%;
    padding: 10px;
  }
}

/* 모바일 반응형 */
@media (max-width: 600px) {
  .oneroom-container1 {
    width: 95%;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
  }

  .oneroom-dishes-grid {
    display: flex;
    align-items: center;
  }
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
  }

  .oneroom-container2 {
    display: flex;
    width: 95%;
    height: 300px;
    position: relative;
  }
  .oneroom-items-container {
    width: 100%;
  }
  .oneroom-map {
    width: 550px;
    height: 550px;
  }
}