.oneroom-details-container {
  font-family: 'KCC-Hanbit';
  display: flex;
  margin: 30px;
  margin-top: 80px;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  align-items: center;
}
.oneroom-details-container3 {
  width: 60%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.oneroom-details-container2 img{
  width: 280px;
  height: 280px;
  margin-right: 60px;
  margin-left: 20px;
}
.location {
  font-size: 24px;
  margin-bottom: 10px;
}

.price {
  margin-bottom: 30px;
  font-size: 18px;
}

.details-table {
  margin: 0 auto;
}

.details-table table {
  width: 100%;
  border-collapse: collapse;
}

.details-table td {
  padding: 10px;
}
.od-td {
  color: gray;
}

@media (min-width: 768px) {
  .oneroom-details-container {
    margin-top: 100px;
  }

  .price {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .oneroom-details-container {
    padding: 20px;
    margin-top: 60px;
  }

  .oneroom-details-container2 {
    flex-direction: column;
  }

  .oneroom-details-container2 img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .location {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .price {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .details-table {
    margin: 0;
    font-size: 10px;
  }
}

