/* OneroomDetails.css */

.oneroom-details-container {
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  font-family: 'KCC-Hanbit';
}
.oneroom-details-container2 {
  display: flex;
}
.oneroom-details-container2 img{
  width: 280px;
  height: 280px;
  margin-right: 60px;
  margin-left: 20px;
}
.location {
  font-size: 24px;
  margin-bottom: 10px;
}

.price {
  margin-bottom: 30px;
  font-size: 18px;
}

.details-table {
  margin: 0 auto;
}

.details-table table {
  width: 100%;
  border-collapse: collapse;
}

.details-table td {
  padding: 10px;
}

@media (min-width: 768px) {
  .oneroom-details-container {
    margin-top: 100px;
  }

  .price {
    font-size: 24px;
  }
}

@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
