.oneroom-container1 {
  width: 95%;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  position: relative;
}

.oneroom-container2 {
  display: flex;
  width: 95%;
  height: 800px;
  position: relative;
}

.oneroom-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  z-index: 2; /* Higher z-index to ensure it is above the map */
  position: absolute; /* Positioned absolutely within the container */
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  width: 230px;
  max-height: 700px;
  border: 1px solid gray;
  overflow-y: auto;
}

.oneroom-items-container p {
  color: gray;
}

.oneroom-items-container p span {
  color: #ddd;
  font-size: 50px;
  margin-bottom: 10px;
}

.map-section1 {
  height: 85%;
  flex: 2;
}

.map-section2 {
  height: 300px; /* 적절한 높이로 조절하세요 */
  order: 2;
}


.popular-rooms {
  margin-bottom: 20px;
}
.popular-rooms-title {
  display: flex;
}
.popular-rooms img {
  width: 40px;
  height: 40px;
  margin-top: 15px;
}
.popular-rooms h2 {
  margin-bottom: 20px;
  margin-left: 10px;
}
.oneroom-location {
  display: flex;
}
.oneroom-location img {
  width: 45px;
  height: 45px;
  margin-top: 10px;
  margin-right: 10px;
}
.popular-room-list {
  display: flex;
}

.popular-room-list > * {
  flex: 1;
  margin-right: 10px;
}

.popular-room-list > *:last-child {
  margin-right: 0;
}

.oneroom-dish-item {
  width: 180px;
  max-height: calc(100vh - 550px);
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px;
}

@media (min-width: 1150px) {
  .oneroom-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1150px) {
  .oneroom-container1, .oneroom-container2 {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'KCC-Hanbit';
  }
}

@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  .oneroom-items-container {
    position: relative;
    width: 100%;
    max-height: none;
    margin-bottom: 20px;
    flex-direction: row; /* Change flex direction to row */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center the items horizontally */
  }

  .oneroom-items-container .oneroom-dish-item {
    margin: 10px; /* Add some margin for spacing */
  }

  .map-section2 {
    height: 400px;
    order: 2;
  }

  .oneroom-dishes-grid {
    display: flex;
  }

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 60px;
}


@media (max-width: 1150px) {
  .oneroom-container2 {
    flex-direction: column;
    height: auto;
  }
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .oneroom-container1 {
    width: 95%;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
  }
}
/* 모바일 반응형 스타일 */
@media (max-width: 600px) {

}