.Mate-container {
  font-family: 'KCC-Hanbit';
  max-width: 1150px;
  padding: 20px;
  margin: 0 auto;
}

.Mate-main {
  display: block;
}

.Mate-recommend {
  border: 2px double #29adb2;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  overflow-x: auto;
  white-space: nowrap;
}

.user-image {
  width: 220px;
  height: 150px;
  object-fit: contain;
  object-fit: cover; 
  background-color: white;
}


.Mate-filter {
  padding: 10px;
  position: relative;
  top: 0;
  transition: left 0.3s ease; 
}

.Mate-container.filter-open .Mate-filter {
  left: 0;  
}

.Mate-filter {
  display: flex;
}
.Mate-filter > button {
  font-family: 'seolleimcool-SemiBold';
  display: inline-block;
  background-color: white;
  color: black; 
  font-size: 10px;
  padding: 10px; 
  border-radius: 5px; 
  outline: none; 
}
.Mate-filter img {
  width: 50px;
}
.Mate-filter > h4 {
  color: gray;
  margin-left: 9px;
  margin-top: 40px;
}

.Mate-list {
  display: block; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.Mate-items {
  display: flex;
  flex-wrap: wrap; /* 아이템들을 줄 바꿈할 수 있도록 설정합니다. */
  justify-content: space-around;
}

.Mate-product-item {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
}
.user-info {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .mi-container {
    width: 150px;
    height: auto;
    text-align: center;
    justify-content: center;
    overflow: hidden; /* 컨테이너 경계를 벗어나는 내용을 숨깁니다. */
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
  }
  .user-image {
    width: 100%;
    object-fit: contain;
    object-fit: cover; /* 이미지 비율 유지하면서 컨테이너에 꽉 차게 */
    background-color: white;
  }
  .mi-btn {
    width: 100%;
    padding: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #29adb2 !important;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    outline: 0;
    font-size: 13px;
  }
  .Mate-filter > button {
    font-family: 'seolleimcool-SemiBold';
    display: inline-block;
    background-color: white;
    color: black; 
    font-size: 10px;
    padding: 10px; 
    border-radius: 5px; 
    outline: none; 
  }
  .Mate-filter > h4 {
    color: gray;
    margin-left: 9px;
    margin-top: 30px;
  }
  .Mate-filter img {
    width: 40px;
  }
  @media (max-width: 768px) {
    .Mate-product-item {
      width: calc(50% - 20px); /* Adjusted width for two items per row */
      margin-bottom: 20px;
      box-sizing: border-box;
    }
  }
  
}