.community-container {
  display: flex;
  height: 1000px;
}

.board-list {
  width: 200px;
  padding: 20px;
  background-color: #eeeeeef8;
}

.board-list ul {
  list-style-type: none;
  padding: 0;

}
.board-list li {
  margin-bottom: 10px; 
  cursor: pointer;
  padding: 3px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'SOYOMapleBoldTTF';
}
.board-list li.selected-item {
  color: white;
  background: #29adb2;
}

.community-scroll {
  display: column;
  width: 100%;
  height: 1000px;
  margin: 10px;
  padding: 10px;
  
}

.scroll-view {
  border: groove 1px black;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #ffffff;
  height: 900px;
}

.scroll-view h1 {
  margin-bottom: 20px;
}


@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


@media (min-width: 1150px) {
  /* 가로 1150px 이상일 때 페이지 전체의 양 옆 여백을 늘리는 스타일 추가 */
  .community-container {
    width: 100%; /* 요소의 너비를 100%로 설정 */
    max-width: 1200px; /* 최대 너비를 1200px로 제한 */
    margin-left: auto; /* 왼쪽 여백을 자동으로 추가하여 가운데 정렬 */
    margin-right: auto; /* 오른쪽 여백을 자동으로 추가하여 가운데 정렬 */
  }
}