.signup-form-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
    padding: 60px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.signup-form-title {
    margin-top: 20px;
    margin-bottom: 40px; 
    text-align: center;
    font-size: 36px;
    color: #000000;
}

.signup-form-item {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    margin-left: 10px;
}

.signup-form-item-phonenumber {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    margin-left: 10px;
    display: flex; /* 요소들을 수평으로 정렬하기 위해 flex 사용 */
    justify-content: space-between;
}

.signup-form-item-phonenumber input,
.signup-form-item input,
.signup-form-item select,
.signup-form-item input[type="date"] {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

.date-picker {
    display: flex;
  }
  
  .date-input {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 30px;
  }

.signup-form-button {
    width: calc(100% - 20px);
    height: 50px;
    font-size: 18px;
    font-weight: bold; 
    margin-top: 40px;
    margin-bottom: 5px;
    background-color: #29ADB2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.phone-token-button {
    height: 60px;
    width: 100px;
    margin-left: 10px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #29ADB2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.phone-auth-button {
    height: 40px;
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #29ADB2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.signup-form-button:hover {
    background-color: #209094;
}

.phone-auth-button:hover {
    background-color: #209094;
}

.phone-token-button:hover {
    background-color: #209094;
}

.signup-form-item.checkbox {
    position: relative;
    margin-left: 25px;
}

.signup-form-item.checkbox input {
    position: absolute;
    top: 50%;
    left: -130px;
    transform: translateY(-50%) scale(0.5);
}

.signup-form-item.checkbox label {
    position: relative;
    text-align: left;
    padding-left: 90px;
    font-size: 14px;
}

.error-message {
    color: red;
    margin-top: 0;
    margin-bottom: 0;
  }
  