.community-post-container {
    font-family: 'KCC-Hanbit';
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
    border: 1px solid #ddd; /* 테두리 추가 */
    border-radius: 10px; /* 모서리 둥글게 */
    background-color: #f9f9f9; /* 배경색 추가 */
}
.community-post-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.community-post-input {
    height: 40px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px 0; /* 좌우 여백 제거 */
    padding: 10px;
    box-sizing: border-box; /* 내용에 따른 크기 조절 */
}

button.community-post-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3f3f3f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.community-post-button:hover {
    background-color: #555;
}

.community-main-image-preview {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.community-post-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.community-post-photo {
    display: block;
    margin-bottom: 10px;
}

.community-post-userId,
.community-post-category {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}


