.community-container {
  font-family: 'KCC-Hanbit';
  display: flex;
  height: 1100px;
}

.board-list {
  width: 200px;
  padding: 20px;
  background-color: #e7e6e6a9;
  font-family: 'KCC-Hanbit';
}

.board-list ul {
  list-style-type: none;
  padding: 0;
}

.board-list li {
  margin-bottom: 20px; /* 중복된 margin-bottom 제거 */
  cursor: pointer;
  padding: 3px;
  font-size: 18px;
  font-family: 'SOYOMapleBoldTTF';
}

.board-list li.selected-item {
  color: #ffffff;
  background: #29adb2;
}

.community-scroll {
  display: column; /* display: flex;로 수정 */
  width: 100%;
  height: 1000px;
  padding: 10px;
}

.community-hot-board {
  display: flex;
  font-size: 30px;
  padding-left: 20px;
  align-items: center;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.community-hot-context {
  display: flex;
  width: 100%;
  border: 2px solid rgba(153, 45, 45, 0.976);
  border-radius: 20px;
  padding-left: 5px;
  margin-bottom: 5px;
  align-items: center;
  box-shadow: 0 4px 8px #ddd;
}

.community-hot-title {
  font-size: 18px;
  margin-left: 20px;
}

.community-hot-view {
  display: flex;
  font-size: 17px;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.community-hot-view img {
  width: 30px;
  height: 25px;
  margin-right: 10px;
}

.scroll-view {
  flex: 1;
  overflow-y: auto;
  background-color: #ffffff;
  height: 950px;
}

.scroll-view h1 {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  margin-bottom: 20px;
  width: 90%;
  margin: 10px;
}


.input-group input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
}

.input-group input[type="text"]::placeholder {
  color: #999;
}

.input-group input[type="text"]:focus {
  outline: none;
  border-color: #29ADB2;
}
/* 버튼 스타일 */
.post-button2 {
  margin-top: 20px;
  margin-right: 35px;
  padding: 10px 20px;
  background-color: #29ADB2;
  color: white;
  border: none;
  cursor: pointer;
}

.post-button2:hover {
  background-color: #1c8e92;
}

/* 반응형 스타일 */
@media (max-width: 770px) {
  .community-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .menu-container {
    position: relative;
    width: 200px;
  }
  
  .board-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: none;
  }
  
  .menu-container:hover .board-list {
    display: block;
    width: 150px;
  }
  
  .toggle-board-list {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .filter-bar-container {
    align-items: center;
  }
  .filter-bar-container img {
    width: 35px;
  }
  
  .board-list.visible {
    display: block;
  }
  
  .filter-bar-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    width: 90%;
  }
  .filter-bar-container input {
    width: 170px;
  }
  .community-hot-context {
    display: flex;
    width: 100%;
    border: 2px solid rgba(153, 45, 45, 0.976);
    border-radius: 20px;
    padding-left: 5px;
    margin-bottom: 5px;
    align-items: center;
    box-shadow: 0 4px 8px #ddd;
  }
  .community-hot-title {
    font-size: 14px;
    margin-left: 20px;
  }
  .community-hot-board {
    display: flex;
    font-size: 20px;
    padding-left: 20px;
    align-items: center;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .community-hot-view {
    display: flex;
    font-size: 12px;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  .community-hot-view img {
    width: 20px;
    height: 15px;
    margin-right: 10px;
  }
}

@media (min-width: 769px) {
  .menu-container {
    display: none;
  }
}

/* 웹사이트 반응형 */
@media (min-width: 1150px) {
  .community-container {
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }
}