.community-container {
  font-family: 'KCC-Hanbit';
  display: flex;
  height: 1000px;
}

.board-list {
  width: 200px;
  padding: 20px;
  background-color: #e7e6e6a9;
}

.board-list ul {
  list-style-type: none;
  padding: 0;
}

.board-list li {
  margin-bottom: 20px; /* 중복된 margin-bottom 제거 */
  cursor: pointer;
  padding: 3px;
  font-size: 18px;
  font-family: 'SOYOMapleBoldTTF';
}

.board-list li.selected-item {
  color: #ffffff;
  background: #29adb2;
}

.community-scroll {
  display: column; /* display: flex;로 수정 */
  width: 100%;
  height: 1000px;
  padding: 10px;
}

.community-hot-board {
  display: flex;
  font-size: 34px;
  padding-left: 20px;
  align-items: center;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.community-hot-context {
  display: flex;
  width: 100%;
  background-color: rgba(153, 45, 45, 0.976);
  color: white;
  border-radius: 20px;
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.community-hot-detail {
  font-size: 20px;
  margin-left: 10px;
}

.community-hot-view {
  display: flex;
  font-size: 20px;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.community-hot-view img {
  width: 40px;
  height: 35px;
  margin-right: 10px;
}

.scroll-view {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #ffffff;
  height: 950px;
}

.scroll-view h1 {
  margin-bottom: 20px;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .community-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .menu-container {
    position: relative;
    width: 200px;
  }
  
  .board-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: none;
  }
  
  .menu-container:hover .board-list {
    display: block;
  }
  
  .toggle-board-list {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .filter-bar-container img {
    width: 50px;
  }
  
  .board-list.visible {
    display: block;
  }
  
  .filter-bar-container {
    display: flex;
    margin-bottom: 10px;
  }
}

@media (min-width: 769px) {
  .menu-container {
    display: none;
  }
}

/* 웹사이트 반응형 */
@media (min-width: 1150px) {
  .community-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* 버튼 스타일 */
.post-button2 {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #29ADB2;
  color: white;
  border: none;
  cursor: pointer;
}

.post-button2:hover {
  background-color: #1c8e92;
}
