.community-update-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.community-update-container form {
    width: 100%;
    margin-top: 20px;
}

.community-update-container form div {
    margin-bottom: 10px;
}

.community-update-container label {
    font-weight: bold;
}

.community-update-container input[type="cu-text"],
.community-update-container textarea {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.community-update-container input[type="file"] {
    margin-top: 5px;
}

.community-update-container button.cu-submit {
    width: 93%;
    background-color: #29adb2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.community-update-container button.cu-submit:hover {
    background-color: #1c777a;
}
