.community-post-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type='text'],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3f3f3f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.button:hover {
    background-color: #555;
}

.market-main-image-preview {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.community-main-image-preview {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.community-post-title {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 회색 배경과 투명도를 설정합니다 */
    z-index: 1000; /* 다른 요소들 위에 나타나도록 설정합니다 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-community {
    width: 800px;
    height: 600px;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과를 추가합니다 */
    max-width: 80%;
    max-height: 80%;
    overflow: auto; /* 내용이 넘칠 경우 스크롤이 나타나도록 설정합니다 */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #888;
}

.close:hover {
    color: #333;
}
