.header-container {
  background-color: white;
  color: black;
  overflow-x: auto;
  display: flex;
  justify-content: center; /* 가운데 정렬 */
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1150px;
  width: 100%; /* 너비를 100%로 설정 */
}

.header-left-wrap {
  flex-grow: 1; /* 왼쪽 요소가 가능한 최대 크기를 가지도록 설정 */
}

.logo-link {
  display: block; /* 링크를 블록 요소로 변환 */
}

.logo-image {
  width: 100%;
  height: auto;
  padding: 5%;
}

.header-right-wrap {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center;
  flex-shrink: 1; /* 오른쪽 요소가 가능한 최대 크기를 가지도록 설정 */
}

.nav-list {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  list-style-type: none; /* 리스트 스타일 제거 */
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 30px; /* 각 아이템 사이 여백 */
}



.header-img {
  display: flex;
}

.header-img img {
  margin-right: 10px; /* 이미지 사이 여백 조정 */
  width: 30px;
  height: 30px;
}

.header-mypage {
  font-family: 'NanumSquareNeo-Variable';
  text-decoration: none;
  margin-right: 10px; /* 마이페이지 버튼과 우측 여백 조정 */
  padding: 10px; /* 버튼 내부 여백 조정 */
  font-size: 20px; /* 폰트 크기 조정 */
  color: black;
}

.header-message ,
.header-notification {
  display: flex; /* 이미지들을 수평으로 정렬하기 위해 flex 사용 */
  align-items: center; /* 수직 가운데 정렬 */
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column; /* 모바일에서 수직 정렬 */
    align-items: center; /* 가운데 정렬 */
  }
  
  .header-wrap {
    width: 100%; /* 너비를 100%로 설정 */
    padding: 0; /* 좌우 여백 추가 */
  }
  
  .header-left-wrap,
  .header-right-wrap {
    width: 100%; /* 요소를 100%로 설정 */
  }
  
  .header-mypage {
    margin-right: 0; /* 마이페이지 버튼의 우측 여백 제거 */
    margin-top: 10px; /* 버튼 상단 여백 추가 */
    margin-bottom: 10px; /* 버튼 하단 여백 추가 */
    padding: 5px; /* 버튼 내부 여백 조정 */
    font-size: 10px; /* 폰트 크기 조정 */
  }
  
  .header-img img {
    margin-right: 1px; /* 이미지 사이 여백 조정 */
    width: 15px;
    height: 15px;
  }
}
