.header-container {
  background-color: white;
  color: black;
  padding: 5px;
  overflow-x: auto;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
}

.logo-image {
  width: 100%;
  height: 90px;
  padding: 5%;
}

.header-right-wrap {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.header-right-wrap .nav-list {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
}

.header-right-wrap .nav-list li {
  margin-right: 10px; /* 각 아이템 사이 여백 */
}

.header-right-wrap .nav-list li:last-child {
  margin-right: 0; /* 마지막 아이템의 오른쪽 여백 제거 */
}

.header-mypage {
  font-family: 'NanumSquareNeo-Variable';
  text-decoration: none;
  margin-right: 40px; /* 마이페이지 버튼과 우측 여백 조정 */
  padding: 10px; /* 버튼 내부 여백 조정 */
  font-size: 25px; /* 폰트 크기 조정 */
  color: black;
}

.signup-container {
  position: relative;
}
.header-img {
  display: flex;
}
.header-img img {
  margin-right: 60px;
  width: 40px;
  height: 40px;
}
.bubble {
  position: absolute;
  bottom: -50px;
  left: 47%;
  transform: translateX(-50%);
  padding: 9px;
  border-radius: 12px;
  font-size: 10px;
  white-space: nowrap;
  background-color: rgba(41, 173, 178, 0.9);
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0.3, 0.3, 0.1);
  animation: fadeInOut 3s ease-out forwards infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    background-color: rgba(41, 173, 178, 1);
  }
  80% {
    background-color: rgba(41, 173, 178, 0.6);
  }
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .header-wrap {
    display: flex;

  }
  .header-right-wrap {
    display: flex;
  }
  .logo-image {
    width: 220px;
    height: 85px;
  }
  .header-mypage {
    margin-right: 25px;
    font-size: 22px;
  }
  .header-img img {
    margin-right: 40px;
    width: 30px;
    height: 30px;
  }
}
/* 모바일 반응형 스타일 */
@media (max-width: 600px) {
.before-header-container {
  width: 99%;
  }
  .logo-image {
    width: 190px;
    height: 70px;
  }
}

