.Home-container {
    background-color: white;
    color: black;
    padding: 5px;
}
.Home-section {
    border: groove 1px black;
    display: flex;
    width: 100%;
    margin: 10px;
    overflow-x: scroll;
    white-space: nowrap;
}

.Home-photoList {
    width: 100%;
}
.card-photo {
    width: 100%;
    image-rendering: auto;
}
.Home-Cook{

}
.Home-OneRoom{

}
.Home-Mate{

}
.Home-Market{

}
.Home-Community{

}
.Home-Tip {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    height: 370px;
}
.mate-item {
    display: flex;
}
.Home-section-market-item {
    margin: 10px;
    padding : 10px;
    border: 1px groove black;
}


@media (min-width: 1150px) {
    /* 가로 1150px 이상일 때 페이지 전체의 양 옆 여백을 늘리는 스타일 추가 */
    .Home-container {
      width: 100%; /* 요소의 너비를 100%로 설정 */
      max-width: 1200px; /* 최대 너비를 1200px로 제한 */
      margin-left: auto; /* 왼쪽 여백을 자동으로 추가하여 가운데 정렬 */
      margin-right: auto; /* 오른쪽 여백을 자동으로 추가하여 가운데 정렬 */
    }
  }