.Mate-container {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

.Mate-main {
  display: block;
}

.Mate-recommend {
  border: 1px groove black;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  overflow-x: auto;
  white-space: nowrap;
}

.user-image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.Mate-filter {
  padding: 10px;
  position: relative;
  top: 0;
  transition: left 0.3s ease; /* Apply transition for sliding effect */
}

.Mate-container.filter-open .Mate-filter {
  left: 0;  
}

.Mate-filter > button {
  font-family: 'seolleimcool-SemiBold';
  margin-bottom: 20px;
  display: inline-block;
  background-color: white;
  color: black; 
  border: 1px solid black;
  padding: 10px; 
  border-radius: 5px; 
  outline: none; 
}

.Mate-list {
  display: block; 
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #ddd;
}

.Mate-items {
  display: flex;
  flex-wrap: wrap; /* 아이템들을 줄 바꿈할 수 있도록 설정합니다. */
  justify-content: space-around;
}

.Mate-product-item {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
}


.user-info {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .Mate-product-item {
    width: calc(40% - 20px); /* Two items per row on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .Mate-product-item {
    width: calc(100% - 20px); /* Single item per row on even smaller screens */
  }
}

@font-face {
  font-family: 'seolleimcool-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}