@media (min-width: 1150px) {
    .oneroom-details-container {
      max-width: 800px;
      margin: auto;
      text-align: center;
      margin-top: 80px;
    }
  }
  
  .or-main-image-container {
    margin-bottom: 40px;
    max-width: 800px;
  }
  
  .oneroom-main-image {
    max-height: 600px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .location {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .price {
    margin-bottom: 60px;
  }
  
  .description {
    margin-bottom: 60px;
  }
  
  .details-table {
    margin: 0 auto;
  }
  
  .details-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .details-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .oneroom-no-image {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
  }

.oneroom-chat-button {
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #29ADB2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.oneroom-chat-button:hover {
  background-color: #209094;
}