.oneroom-container {
  display: flex;
  height: 100vh;
}

.filter-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.filter-bar {
  padding: 20px;
  border-right: 1px solid #eee;
  flex: 1;
  overflow-y: auto;
}

.filter-bar::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map-section {
  height: 70.5%;
  flex: 2;
  padding: 20px;
}

.popular-rooms {
  margin-bottom: 20px;
}

.popular-rooms h2 {
  margin-bottom: 20px;
}

.popular-room-list {
  display: flex;
}

.popular-room-list > * {
  flex: 1;
  margin-right: 10px;
}

.popular-room-list > *:last-child {
  margin-right: 0;
}

.toggle-button {
  width: 1%; /* 전체 영역을 버튼으로 만듦 */
  background-color: #3f3f3f; /* 버튼 배경색 */
  padding: 5px; /* 버튼 여백 */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle-button span {
  font-size: 12px;
}

.toggle-button.open {
  border-bottom: 1px solid #ccc; /* 열려있는 경우 밑에 구분선 추가 */
}

.toggle-button.closed {
  border-top: 1px solid #ccc; /* 닫혀있는 경우 위에 구분선 추가 */
}

.roomitem-container img {
  width: 255.7px;
  height: 188px;
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 1150px) {
  /* 가로 1150px 이상일 때 페이지 전체의 양 옆 여백을 늘리는 스타일 추가 */
  .oneroom-container {
    width: 100%; /* 요소의 너비를 100%로 설정 */
    max-width: 1200px; /* 최대 너비를 1200px로 제한 */
    margin-left: auto; /* 왼쪽 여백을 자동으로 추가하여 가운데 정렬 */
    margin-right: auto; /* 오른쪽 여백을 자동으로 추가하여 가운데 정렬 */
  }
}
