.community-container {
  display: flex;
}

.board-list {
  width: 150px;
  padding: 20px;
  background-color: #f0f0f0;
}

.board-list ul {
  list-style-type: none;
  padding: 0;
}

.board-list li {
  margin-bottom: 10px;
  cursor: pointer;
}

.scroll-view {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #ffffff;
  height: 800px;
}

.scroll-view h1 {
  margin-bottom: 20px;
}
