.header-container {
  background-color: white;
  color: black;
  padding: 5px;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header-left-wrap {
  display: flex;
  align-items: center;
}

.header-right-wrap {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: auto;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.logo-image {
  width: 100%;
  height: 90px;
  padding: 5%;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto; /* 가운데 정렬을 위해 margin-right 추가 */
}

.search-icon {
  display: flex;
  align-items: center;
  width: 300px;
  color: black;
  border-radius: 50px;
}

.search-icon > svg {
  font-size: 30px;
  padding-right: 10px;
}

.search-input {
  padding: 10px;
  padding-left: 10px;
  border-radius: 100px;
  font-size: 18px;
  width: 100%;
  border: none;
  background: rgb(245, 246, 247);
  box-sizing: border-box;
  box-shadow: 0 0 1px #0000001a;
  outline: none;
}

.nav-list {
  display: flex;
  list-style-type: none; /* 리스트 앞에 번호 없음 */
  padding: 0; /* 기본적인 패딩 제거 */
}

.header-mypage{
  font-family: 'NanumSquareNeo-Variable';
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  color: black;
}
.header-login {
  font-family: 'NanumSquareNeo-Variable';
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  color: black;
}
.header-signup {
  font-family: 'NanumSquareNeo-Variable';
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  color: black;
  border: 2px groove #29adb2;
  padding: 8px;
  border-radius: 10px;
}
@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NPSfontBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

