.Home-container {
    background-color: white;
    color: black;
    padding: 5px;
    margin: 10px;
}
.Home-photoList {
    margin: 10px;
    width: 100%;
}
.card-photo {
    width: 100%;
}
.Home-slider1{
    border: groove 1px red;
    width: 100%;
    margin: 10px;
}
.Home-slider2{
    border: groove 1px red;
    width: 100%;
    margin: 10px;
}
.Home-slider3{
    border: groove 1px red;
    width: 100%;
    margin: 10px;
}