.Home-container {
    background-color: white;
    color: black;
    padding: 5px;
    margin: 10px;
}
.Home-photoList {
    width: 100%;
}
.card-photo {
    width: 100%;
}
.Home-Cook{
    border: groove 1px black;
    width: 100%;
    height: 250px;
    margin: 10px;
}
.Home-OneRoom{
    border: groove 1px black;
    width: 100%;
    height: 205px;
    margin: 10px;
}
.Home-Mate{
    border: groove 1px black;
    display: flex;
    width: 100%;
    margin: 10px;
    overflow-x: scroll; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent items from wrapping to the next line */
      
}
.Home-Community{
    border: groove 1px black;
    width: 100%;
    height: 250px;
    margin: 10px;
}
.Home-Tip{
    border: groove 1px black;
    width: 100%;
    height: 250px;
    margin: 10px;
}