.category-container {
    display: flex;
    justify-content: space-around;
    background-color: #29adb2;
    padding: 5px;
  }
  
  .category-item {
    font-family: 'BMDOHYEON';
    font-size: 18px;
    color: white;
    padding: 5px;
    padding-top: 10px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .category-item:hover {
    color: #f4e869;
  }

  @font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'seolleimcool-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}