.footer-container {
    font-family: 'Pretendard-Regular';
  background-color: #4aadb1;
  color: white;
  padding: 30px;
  padding-left: 40px;
  margin-top: 120px;
  text-align: left;
}
.footer-category {
    margin-bottom: 40px;
    border-bottom: 1px solid white; /* 흰색 실선 추가 */
}
.footer-detail {
    font-size: 13px;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}