.toggle-button {
  width: 1%;
  background-color: #3f3f3f;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.toggle-button span {
  font-size: 12px;
}

.toggle-button.open {
  border-bottom: 1px solid #ccc;
}

.toggle-button.closed {
  border-top: 1px solid #ccc;
}

.cooking-container {
  display: flex;
  height: 107vh;
  overflow-x: hidden; /* 가로 스크롤을 숨김 */
}

.filter-section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: width 0.3s ease; /* 너비 변경에 대한 transition 효과 추가 */
}

.filter-bar {
  padding: 20px;
  border-right: 1px solid #eee;
  flex: 1;
  overflow-y: auto;
}

.filter-bar::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map-section {
  flex: 2;
  padding: 20px;
  transition: margin-left 0.3s ease; /* 좌우 이동에 대한 transition 효과 추가 */
}

.header h1 {
  font-size: 24px;
  margin-left: 10px;
}

.best-dishes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  gap: 10px;
  transition: margin-left 0.3s ease; /* 좌우 이동에 대한 transition 효과 추가 */
}

.best-dishes img {
  width: 100%;
}

.divider {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
  margin-bottom: 20px;
}

.dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 유동적인 그리드 설정 */
  gap: 15px;
  transition: margin-left 0.3s ease; /* 좌우 이동에 대한 transition 효과 추가 */
}

.dish-item img {
  width: 100%;
}

.bold-title {
  font-weight: bold;
}

.cooking-items-container {
  overflow-y: auto;
  max-height: calc(100vh - 385px);
}

@media (min-width: 1150px) {
  /* 가로 1150px 이상일 때 페이지 전체의 양 옆 여백을 늘리는 스타일 추가 */
  .cooking-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .filter-section.open {
    width: 300px; /* 필터바가 열린 상태에서 너비는 300px 유지 */
  }

  .map-section.open {
    margin-left: 40px; /* 필터바가 열린 상태에서 왼쪽 여백 추가 */
  }

  .best-dishes.open {
    margin-left: 5px; /* 필터바가 열린 상태에서 왼쪽 여백 추가 */
  }

  .dishes-grid.open {
    margin-left: 5px; /* 필터바가 열린 상태에서 왼쪽 여백 추가 */
  }
}

.post-button {
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #29ADB2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-button:hover {
  background-color: #209094;
}