.market-container {
    display : block;
    position: relative;
    overflow-x: auto; /* 가로 스크롤을 숨김 */
}
.market-header {
    width: 50%;
    display : block;
    padding: 20px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.market-category {
    position: absolute; /* 절대 위치로 설정 */
    top: 60px; 
    left: 50px;
    width: 200px;
    background-color: white;
    border: 1px solid #b4b2b2; /* 테두리 추가 */
    z-index: 1; /* 다른 요소들보다 위에 표시되도록 설정 */
    padding-left: 15px;
    cursor: pointer;
}
.market-serch {
    text-align: center;
}
.market-header {
    display: flex;
}
.market-category-icon {
    margin-left : 30px;
}
.market-search-icon {
    width: 8%;
    height: 38px;
    margin-left: 30px;
}
.market-search-input {
    display: block;  /* 가운데정렬 */
    margin-left: 20px;
    height: 30px;
}
.custom-icon {
    font-size: 50px;
}
.market-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.market-item > * {
    width: 250px;
    box-sizing: border-box;
    padding: 10px;
}
.market-nodata {
    height: 400px;
    color: gray;
    font-size: 30px;
    width: 1000px;
    margin: 30px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    list-style: none; /* 기본 목록 스타일 제거 */
    justify-content: center; /* 중앙 정렬 */
    padding: 0; /* 기본 패딩 제거 */
  }
  
  .pagination li {
    margin: 0 5px; /* 각 페이지 번호 사이의 여백 */
  }
  
  .pagination li a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #333; /* 글자 색상 */
    background-color: #f2f2f2; /* 배경 색상 */
    padding: 8px 12px; /* 상하, 좌우 패딩 */
    border-radius: 5px; /* 둥근 모서리 */
    transition: all 0.3s; /* 부드러운 전환 효과 */
  }
  
  .pagination li a:hover {
    background-color: #ddd; /* 마우스 오버 시 배경 색상 변경 */
  }
  
  .pagination li a.active {
    background-color: #007bff; /* 활성 페이지 배경 색상 */
    color: #fff; /* 활성 페이지 글자 색상 */
  }
  
@media (min-width: 1150px) {
    /* 가로 1150px 이상일 때 페이지 전체의 양 옆 여백을 늘리는 스타일 추가 */
    .market-container {
      width: 100%; /* 요소의 너비를 100%로 설정 */
      max-width: 1200px; /* 최대 너비를 1200px로 제한 */
      margin-left: auto; /* 왼쪽 여백을 자동으로 추가하여 가운데 정렬 */
      margin-right: auto; /* 오른쪽 여백을 자동으로 추가하여 가운데 정렬 */
    }
}

