.market-post-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: 'KCC-Hanbit';
    justify-content: center;
}

.market-post-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.market-post-image {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.market-post-form-group {
    margin-bottom: 20px;
}

.market-post-label {
    display: block;
    margin-bottom: 5px;
}

.market-post-input, .market-post-select, .market-post-textarea {
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}

.market-post-input {
    height: 40px;
}

.market-post-textarea {
    height: 100px;
}

.market-post-button-container {
    display: flex;
    justify-content: flex-end;
}

.market-post-button {
    width: 97%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #29adb2;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
}

.market-post-button:hover {
    background-color: #0056b3;
}
