.cooking-details-container {
  font-family: 'KCC-Hanbit';
  width: 100%;
  text-align: left;
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  margin-top: 50px;
}

.cooking-main-image {
  height: 300px;
  width: 300px;
  padding: 20px;
  align-self: center;
}

.ck-main-no-image {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.ck-detail-context {
  width: 50%;
  padding-left: 20px;
}

.name {
  margin-bottom: 10px;
}

.detail {
  margin-bottom: 20px;
}

.author-view-container {
  display: flex;
  justify-content: space-between;  /* 양쪽으로 정렬 */
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.author {
  font-style: italic;
}

.view-count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;

}


.no-detail {
  color: #999;
}

@media (max-width: 768px) {
  .cooking-details-container {
    flex-direction: column;
    text-align: center;
  }

  .ck-main-image-container,
  .ck-detail-context {
    width: 100%;
    padding: 0;
  }

  .ck-main-no-image {
    height: 200px;
  }

  .author-view-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .view-count {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}
