.cooking-container {
  font-family: 'KCC-Hanbit';
  display: block; /* 변경 */
  position: relative; /* 추가 */
  overflow-x: auto; /* 추가 */
  padding: 10px;
  margin: 0 auto;
  width: 98%;
  max-width: 1100px; /* 변경 */
  background-color: rgb(251, 250, 244);
}


.ck-detail-context {
  padding: 10px;
}

.cooking-header1 {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cooking-items-header {
  display: flex;
  align-items: center; 
  margin-top: 20px;
}

.cook-ai-header {
  display: flex;
  align-items: center;
}

.cooking-header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.best-dishes-section {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.best-dishes {
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  margin: 0 auto;
}

.best-dish {
  display: flex;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #eee;
}

.dish-details {
  margin-bottom: 10px;
  font-size: 18px;
}

.best-dishes img {
  width: 300px;
  object-fit: cover;
  height: auto;
  border-radius: 10px;
}

.best-dish-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.dish-name {
  margin-bottom: 10px;
  background-color: rgb(93, 155, 0);
  font-size: 20px;
  color: white;
  text-align: center;
  border-radius: 20px;
}

.cooking-items-container {
  width: 95%;
  max-width: 1150px;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 900px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.divider {
  border: none;
  height: 1px;
  background-color: #29ADB2;
  margin: 10px 0;
  margin-bottom: 20px;
}

.cooking-dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.dish-item img {
  width: 100%;
}

.cookingitem-menu {
  background-color: rgb(93, 155, 0);
  color: white;
  font-size: 20px;
}

.bold-title {
  font-weight: bold;
}

.cooking-filter-bar-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 8px;
}

.filter-bar-container .ant-btn {
  height: 47.1px;
  line-height: 47.1px;
}  

.filter-bar-container .ant-btn-primary {
  background-color: #29adb2;
  border-color: #29adb2;
}

.filter-section.open {
  width: 300px;
}

.map-section.open {
  margin-left: 40px;
}

.best-dishes.open {
  margin-left: 5px;
}

.dishes-grid.open {
  margin-left: 5px;
}

.post-button1 {
  font-size: 15px;
  font-weight: bold;
  position: fixed;
  bottom: 150px;
  right: 40px;
  background-color: #29ADB2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-button2 {
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  bottom: 100px;
  right: 50px;
  background-color: #29ADB2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-button:hover {
  background-color: #209094;
}

.cook-ai {
  width: 90%;
  max-width: 1150px;
  height: auto;
  border: 2.5px solid #ccc;
  border-radius: 14px;
  padding: 15px;
  margin-bottom: 20px;
}

.ingredient-item-container {
  width: 150px;
}

.cook-ai-input {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
}

.update-ingredient-btn,
.cookingDelete-btn {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  margin-left: 5px;
}

.cookingDelete-btn {
  margin-left: 0;
}

.update-ingredient-btn,
.cookingDelete-btn {
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  font-size: 12px;
  background-color: #ddd;
}

.cook-ai-input > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 155, 0);
  border-radius: 16px;
  padding: 10px;
  width: 28px;
  height: 28px;
  transition: padding 0.2s ease-in-out 0s;
  color: white;
  position: absolute;
  right: 0;
  bottom: 10px;
}

/* 재료 수정 */
.edit-ingredient-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-ingredient-form input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.edit-ingredient-form button {
  padding: 5px 10px;
  background-color: #29ADB2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-ingredient-form button:hover {
  background-color: #209094;
}

.cooking-nodata {
  color: gray;
  font-size: 25px;
  text-align: center;
}

.ingredient-result > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #209094;
  border-radius: 16px;
  padding: 10px;
  width: 28px;
  height: 28px;
  transition: padding 0.2s ease-in-out 0s;
  color: white;
  margin-left: auto;
}

.ingredient {
  display: flex;
}

.ingredient-item {
  display: flex;
}

.ingredient-inputs {
  width: 50%;
  margin: 2px;
  font-size: 14px;
  color: gray;
  margin-right: 30px;
}

.ingredient-inputs > input {
  margin: 4px;
  padding: 7px;
  width: calc(100% - 30px);
}

.ingredient-inputs > button {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  margin-left: auto;
}

.ingredient-result {
  width: 55%;
  padding: 15px;
  margin-left: 20px;
}

.custom-search-container {
  margin-bottom: 10px;
  margin-top: 30px;
}

.custom-search {
  display: flex;
  align-items: center;
}

.custom-search-input {
  padding: 15px;
  margin-left: 10px;
  width: 350px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-search-button {
  font-size: 16px;
  padding: 15px;
  width: 50px;
  text-align: center;
  background-color: rgb(93, 155, 0);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.custom-search-button:hover {
  background-color: #1E808D;
}

@media (min-width: 1150px) {
  .cooking-container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 750px) {
  .cooking-container {
    width: 90%;
    padding: 0;
  }

  .cooking-items-container {
    max-width: 90%;
    padding: 10px;
  }

  .cooking-items-header {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .best-dish {
    flex-direction: column;
    align-items: center;
  }

  .best-dish img {
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  .dish-name {
    margin-bottom: 3px;
    background-color: rgb(93, 155, 0);
    font-size: 12px;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 0;
}
  .dish-details {
    font-size: 12px;
  }

  .best-dish-context {
    width: 100%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: #eee;
  }

  .ingredient-inputs {
    width: 100%;
    font-size: 14px;
  }

  .update-ingredient-btn,
  .cookingDelete-btn {
    font-size: 6px;
    padding: 2px;
    text-align: center;
  }
  .cooking-dishes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* 변경 */
    gap: 10px;
  }
  
}

@media (max-width: 320px) {
  .cooking-container {
    width: 90%;
    padding: 0;
  }

  .cooking-items-container {
    max-width: 90%;
    padding: 10px;
  }

  .cooking-items-header {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .best-dish {
    flex-direction: column;
    align-items: center;
  }

  .best-dish img {
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  
  .dish-name {
    margin-bottom: 3px;
    background-color: rgb(93, 155, 0);
    font-size: 12px;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 0;
  }

  .dish-details {
    font-size: 12px;
  }

  .best-dish-context {
    width: 100%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: #eee;
  }

  .ingredient-inputs {
    width: 100%;
    font-size: 14px;
  }

  .update-ingredient-btn,
  .cookingDelete-btn {
    font-size: 6px;
    padding: 2px;
    text-align: center;
  }

  .cooking-dishes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  .cooking-nodata {
    color: gray;
    font-size: 18px;
    text-align: center;
  }
  .post-button2 {
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: -20px;
    background-color: #29ADB2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .cook-ai {
    width: 90%;
    max-width: 240px;
    height: auto;
    border: 2.5px solid #ccc;
    border-radius: 14px;
    padding: 15px;
    margin-bottom: 20px;
  }
}

