.cooking-post-container {
    margin: 30px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cp-name,
  .cp-image,
  .cp-detail {
    margin-bottom: 20px;
  }
  
  .cooking-post-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .community-post-photo {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(93, 155, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .community-post-photo:hover {
    background-color: rgb(70, 115, 2);
  }
  
  .cooking-main-image-preview {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 10px;
  }
  
  .cooking-post-detail {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .community-post-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(93, 155, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cu-post-button:hover {
    background-color: rgb(70, 115, 2);
  }

  .cu-post-button {
    margin-right: 0;
    background-color: rgb(93, 155, 0);
    color: white;
    padding: 14px;
    border-radius: 10px;
  }
  