.cooking-container {
  font-family: 'KCC-Hanbit';
}

.header h1 {
  font-size: 24px;
  margin-left: 10px;
}

.best-dishes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  gap: 10px;
  transition: margin-left 0.3s ease; /* 좌우 이동에 대한 transition 효과 추가 */
}

.best-dishes img {
  width: 100%;
}

.divider {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
  margin-bottom: 20px;
}

.cooking-dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 유동적인 그리드 설정 */
  gap: 15px;
  transition: margin-left 0.3s ease; /* 좌우 이동에 대한 transition 효과 추가 */
}

.dish-item img {
  width: 100%;
}

.bold-title {
  font-weight: bold;
}

.cooking-items-container {
  overflow-y: auto;
  max-height: calc(100vh - 475px);
}

.cooking-filter-bar-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 8px;
}

.filter-bar-container .ant-btn {
  height: 47.1px;
  line-height: 47.1px; 
}  

.filter-bar-container .ant-btn-primary {
  background-color: #29adb2;
  border-color: #29adb2;
}

  .filter-section.open {
    width: 300px; /* 필터바가 열린 상태에서 너비는 300px 유지 */
  }

  .map-section.open {
    margin-left: 40px; /* 필터바가 열린 상태에서 왼쪽 여백 추가 */
  }

  .best-dishes.open {
    margin-left: 5px; /* 필터바가 열린 상태에서 왼쪽 여백 추가 */
  }

  .dishes-grid.open {
    margin-left: 5px; /* 필터바가 열린 상태에서 왼쪽 여백 추가 */
  }

.post-button1 {
  font-size: 15px;
  font-weight: bold;
  position: fixed;
  bottom: 150px;
  right: 40px;
  background-color: #29ADB2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-button2 {
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  bottom: 100px;
  right: 50px;
  background-color: #29ADB2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-button:hover {
  background-color: #209094;
}
.cook-ai {
  width: 90%;
  height: 250px;
  border: 2.5px solid black;
  border-radius: 14px;
  padding: 10px;
  margin-bottom: 20px;
}
.cook-ai-input {
  width: 60%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* 이 부분을 추가 */
}

.cook-ai-input > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #209094;
  border-radius: 16px;
  padding: 10px;
  width: 28px;
  height: 28px;
  transition: padding 0.2s ease-in-out 0s;
  color: white;
  position: absolute; /* 이 부분을 추가 */
  right: 10px; /* 오른쪽 여백 설정 */
  bottom: 10px; /* 아래쪽 여백 설정 */
}


.cooking-nodata {
  color: gray;
  font-size: 25px;
  text-align: center;
  /* 아래 속성들은 .cook-ai-input에 flex를 적용함으로써 불필요해짐 */
  /* justify-content: center; */
  /* align-items: center; */
}

.ingredient-result > button {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #209094;
  border-radius: 16px;
  padding: 10px;
  width: 28px;
  height: 28px;
  transition: padding 0.2s ease-in-out 0s;
  color: white;
  margin-left: auto; 
}

.ingredient {
  display: flex;
}
.ingredient-inputs {
  width: 50%;
  margin: 2px;
  font-size: 14px;
  color: gray;
}
.ingredient-inputs > input {
  margin: 5px;
  padding: 10px;
  width: 93%;
}
.ingredient-inputs > button {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  display: flex;
  margin-left: auto; 
  
}
.ingredient-result {
  width: 55%;
  padding: 15px;
  margin-left: 20px;
}

/* Ant Design Search 버튼 색상 변경 */
.cooking-search-container .ant-btn-primary {
  background-color: #29ADB2;
  border-color: #29ADB2;
}

.cooking-search-container .ant-btn-primary:hover,
.cooking-search-container .ant-btn-primary:focus {
  background-color: #209094; /* 호버 및 포커스 시 색상 변경 */
  border-color: #209094;
}


@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@media (min-width: 1150px) {
  /* 가로 1150px 이상일 때 페이지 전체의 양 옆 여백을 늘리는 스타일 추가 */
  .cooking-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1460px) {
  .post-button2 {
    right: 220px; /* Adjust the right position as per your preference */
  }
}