.cooking-container {
  font-family: 'KCC-Hanbit';
  display: flex;
  flex-direction: column;
  align-items: center;
 padding-left: 20px;
 width: 95%;
}
.ck-detail-context {
  padding: 10px;
}
.cooking-header1 {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cooking-header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.best-dishes-section {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.best-dishes {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
}

.best-dish {
  display: flex;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #eee;
}

.dish-details {
  margin-bottom: 10px;
  font-size: 18px;
}

.best-dishes img {
  width: 300px;
  object-fit: cover;
  height: 300px;
  border-radius: 10px;
}

.best-dish-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.dish-name {
  margin-bottom: 10px;
  background-color: rgb(93, 155, 0);
  font-size: 20px;
  color: white;
  text-align: center;
  border-radius: 20px;
}

.cooking-items-container {
  width: 95%;
  max-width: 1150px;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 900px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.divider {
  border: none;
  height: 1px;
  background-color: #29ADB2;
  margin: 10px 0;
  margin-bottom: 20px;
}

.cooking-dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.dish-item img {
  width: 100%;
}
.cookingitem-menu {
  background-color: rgb(93, 155, 0);
  color: white;
  font-size: 20px;
}

.bold-title {
  font-weight: bold;
}

.cooking-filter-bar-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 8px;
}

.filter-bar-container .ant-btn {
  height: 47.1px;
  line-height: 47.1px; 
}  

.filter-bar-container .ant-btn-primary {
  background-color: #29adb2;
  border-color: #29adb2;
}

.filter-section.open {
  width: 300px;
}

.map-section.open {
  margin-left: 40px;
}

.best-dishes.open {
  margin-left: 5px;
}

.dishes-grid.open {
  margin-left: 5px;
}

.post-button1 {
  font-size: 15px;
  font-weight: bold;
  position: fixed;
  bottom: 150px;
  right: 40px;
  background-color: #29ADB2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-button2 {
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  bottom: 100px;
  right: 50px;
  background-color: #29ADB2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-button:hover {
  background-color: #209094;
}

.cook-ai {
  width: 90%;
  max-width: 1200px;
  height: 250px;
  border: 2.5px solid #ccc;
  border-radius: 14px;
  padding: 10px;
  margin-bottom: 20px;
}
.ingredient-item-container {
  width: 150px;
}
.cook-ai-input {
  width: 60%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.ingredient-item {
  display: flex;
  justify-content: space-between; /* 재료 이름과 버튼을 왼쪽과 오른쪽에 배치 */
}

.update-ingredient-btn,
.cookingDelete-btn {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  margin-left: 5px; /* 수정, 삭제 버튼 사이의 간격 조정 */
}

.cookingDelete-btn {
  margin-left: 0; /* 삭제 버튼이 가장 오른쪽에 위치하도록 마진 조정 */
}

.update-ingredient-btn,
.cookingDelete-btn {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
}

.cook-ai-input > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 155, 0);
  border-radius: 16px;
  padding: 10px;
  width: 28px;
  height: 28px;
  transition: padding 0.2s ease-in-out 0s;
  color: white;
  position: absolute;
  right: 0;
  bottom: 10px;
}
/* 재료 수정 */
.edit-ingredient-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-ingredient-form input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.edit-ingredient-form button {
  padding: 5px 10px;
  background-color: #29ADB2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-ingredient-form button:hover {
  background-color: #209094;
}

.cooking-nodata {
  color: gray;
  font-size: 25px;
  text-align: center;
}

.ingredient-result > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #209094;
  border-radius: 16px;
  padding: 10px;
  width: 28px;
  height: 28px;
  transition: padding 0.2s ease-in-out 0s;
  color: white;
  margin-left: auto; 
}

.ingredient {
  display: flex;
}

.ingredient-item {
  display: flex;
}

.ingredient-inputs {
  width: 50%;
  margin: 2px;
  font-size: 14px;
  color: gray;
}

.ingredient-inputs > input {
  margin: 5px;
  padding: 10px;
  width: 93%;
}

.ingredient-inputs > button {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  margin-left: auto; 
}

.ingredient-result {
  width: 55%;
  padding: 15px;
  margin-left: 20px;
}

.custom-search-container {
  margin-bottom: 10px;
  margin-top: 30px;
}

.custom-search {
  display: flex;
  align-items: center;
}

.custom-search-input {
  padding: 15px;
  margin-left: 10px;
  width: 400px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-search-button {
  padding: 15px;
  font-size: 16px;
  background-color: rgb(93, 155, 0);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.custom-search-button:hover {
  background-color: #1E808D;
}

@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1150px) {
  .cooking-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1460px) {
  .post-button2 {
    right: 220px;
  }
}
